.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

.Note-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  border: #61dafb dotted 2px;
  border-radius: 15px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.Note-content{
  max-width: 270px;
  overflow-wrap: break-word;
}

.Log-menu {
  background-color: #61dafb;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Text-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.Text-header{
  width: 400px;
  background-color: #61dafb;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.input-text{
  width: 394px;
  height: 200px;
  text-align: start;
}

.Logout-btn{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border:0px;
}

.Text-add{
  width: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
}
.Text-menu {
  background-color: #61dafb;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Container {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}